<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/sytle.css">
    <title>Document</title>
</head>

<body>
    <p>{{>header}}</p>
    <P> about pages using temple engine and show about (for me path = templates in about.hbs)and res.render("folder
        name")</P>
    {{!-- app.get("/about",(req,res)=>{
    res.render("about");
    }); --}}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ratione eaque doloribus! Corporis nostrum eaque
        dolore, modi, delectus hic recusandae quas voluptates quasi ea eum reiciendis ipsum sunt expedita aspernatur?
    </p>
    <p>{{>footer}}</p>
</body>

</html>