<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/sytle.css">
    {{!-- {{>headerlinks}} --}}
    <title>Document</title>
</head>
<body>
    <p>{{>header}}</p>
    <h1>Finall adding dynamic content with using (hbs)</h1>
    <p>example of hbs dynamic name : {{changeName}}</p>
    <p>{{>footer}}</p>
</body>
</html>